<!doctype html>
<html lang="en" data-theme="winter">
  <head>
    <meta charset="utf-8">
    <meta name="color-scheme" content="light dark">
    <title>{{ title or "Daniel Thompson" }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | url }}">
    <link rel="manifest" href="{{ '/assets/favicon/site.webmanifest' | url }}">

    <link rel="alternate" type="application/rss+xml" href="/feed.xml">

    <meta name="description" content="Daniel Thompson" />
    <meta name="keywords" content="" />
    <meta name="author" content="Daniel Thompson" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="{{ title or 'Daniel Thompson' }}" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="{{ '/assets/avatar.jpg' | url }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta name="twitter:card" content="summary_large_image" />


    <script src="{{ '/js/tailwindcss.js' | url }}"></script>
    <link rel="stylesheet" href="{{ '/assets/tailwindcss_typo.css' | url }}">
    <link href="{{ '/assets/daisyui.css' | url }}" rel="stylesheet" type="text/css" />
    <link href="{{ '/assets/daisyui_theme.css' | url }}" rel="stylesheet" type="text/css" />
    <link href="{{ '/assets/font.css' | url }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/site.css' | url }}">
  </head> 
  <body class="min-h-dvh">
    {% include "partials/header.njk" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "partials/footer.njk" %}
  </body>
  
</html>
