---
layout: base.njk
title: 404
permalink: /404.html
---
<section class="py-16 bg-base-200">
  <h1 class="text-3xl font-bold mb-8 text-center">404</h1>

  <h2 class="text-2xl font-bold mb-8 text-center">Page Not Found</h2>
  <div class='flex flex-col items-center'>
    <a href="{{ '/' | url }}" class="btn btn-md btn-outline justify-center">Go Home</a>
  </div>
  
</section>
