<header class="sticky top-0 z-50 bg-base-100/80 backdrop-blur">
  <nav class="mx-auto max-w-[76rem] ps-4 pe-4 md:ps-8 md:pe-8 h-14 flex items-center justify-between">
    <a href="{{ '/' | url }}" class="text-md lg:text-2xl font-extrabold tracking-wide hover:text-brand">Daniel Thompson</a>

    <div class="flex items-center gap-1 text-base-content/70">
      
      <a href="{{ '/' | url }}" class="text-sm btn join-item btn-outline flex-1 w-17">Home</a>
      <a href="{{ '/projects/' | url }}" class="text-sm btn join-item btn-outline flex-1 w-17">Projects</a>
      <a href="{{ '/blog/' | url }}" class="text-sm btn join-item btn-outline flex-1 w-17">Blog</a>
    </div>
  </nav>
</header>